# Project exclude paths
/gradle/
/.gradle/
/build/

/BeaconTweaks/.gradle/
/BeaconTweaks/build/
/BeaconTweaks/run/

/Commands/.gradle/
/Commands/build/
/Commands/run/

/Essence/.gradle/
/Essence/build/
/Essence/run/

/Events/.gradle/
/Events/build/
/Events/run/

/FakePlayer/.gradle/
/FakePlayer/build/
/FakePlayer/run/

/McRPG/.gradle/
/McRPG/build/
/McRPG/run/

/Quieter/.gradle/
/Quieter/build/
/Quieter/run/

/ResourceLib/API/build/
/ResourceLib/API/.gradle/
/ResourceLib/Mod/build/
/ResourceLib/Mod/.gradle/
/ResourceLib/.gradle/
/ResourceLib/build/
/ResourceLib/run/

/SpawnerTweaks/.gradle/
/SpawnerTweaks/build/
/SpawnerTweaks/run/

/Telekinesis/.gradle/
/Telekinesis/build/
/Telekinesis/run/

/Wrench/.gradle/
/Wrench/build/
/Wrench/run/
