# Project exclude paths
/.gradle/
/BeaconTweaks/.gradle/
/BeaconTweaks/build/
/BeaconTweaks/build/classes/java/main/
/Essence/.gradle/
/Essence/build/
/Essence/build/classes/java/main/
/Events/.gradle/
/Events/build/
/Events/build/classes/java/client/
/Events/build/classes/java/main/
/FakePlayer/.gradle/
/FakePlayer/build/
/FakePlayer/build/classes/java/main/
/gradle/
/McRPG/.gradle/
/McRPG/build/
/McRPG/build/classes/java/main/
/ResourceLib/.gradle/
/ResourceLib/API/build/
/ResourceLib/API/build/classes/java/main/
/ResourceLib/build/
/ResourceLib/Mod/.gradle/
/ResourceLib/Mod/build/
/ResourceLib/Mod/build/classes/java/main/
/Telekinesis/.gradle/
/Telekinesis/build/
/Telekinesis/build/classes/java/main/
/SpawnerTweaks/.gradle/
/SpawnerTweaks/build/
/SpawnerTweaks/build/classes/java/main/
/Wrench/.gradle/
/Wrench/build/
/Wrench/build/classes/java/main/
